*,
::before,
::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

a {
  text-decoration: none;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.2rem;
}

.header-accueil {
  margin-bottom: 0.2rem;
  -webkit-box-shadow: 2px 3px 8px #d6d6d6;
          box-shadow: 2px 3px 8px #d6d6d6;
}

.header-accueil__title {
  width: 100%;
  text-align: center;
  font-family: "Shrikhand", sans-serif;
  font-size: 2.5rem;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 3.5rem;
  background-color: #ebeaea;
}

.search i {
  font-size: 1.5rem;
  margin-right: 0.3rem;
}

.search input {
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
  width: 200px;
  border: transparent;
  background-color: transparent;
}

.section1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #f7f7f7;
  width: 100%;
  height: 20rem;
}

.section1 .explication {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section1 .explication__title {
  margin: 0 2.8rem 1.2rem 2.8rem;
  text-align: center;
  font-size: 1.8rem;
}

.section1 .explication__text {
  margin: 0 1rem 2rem 1rem;
  text-align: center;
  font-size: 1.2rem;
}

.section2 {
  margin: 5rem 1.5rem;
  height: auto;
}

@media screen and (min-width: 380px) {
  .functioning {
    margin: 0 auto;
    max-width: 450px;
  }
}

.functioning__element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
  height: 5rem;
  margin: 2rem 0;
  border: 0;
  border-radius: 30px;
  background-color: #f7f7f7;
  -webkit-box-shadow: 2px 3px 8px #d6d6d6;
          box-shadow: 2px 3px 8px #d6d6d6;
  z-index: 1;
  cursor: pointer;
}

@media screen and (min-width: 380px) {
  .functioning__element {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 90%;
    margin: 2rem auto;
  }
}

.functioning__element:active::after {
  opacity: 1;
}

.functioning__element:active:active i {
  color: #9356dc;
}

@media screen and (min-width: 1280px) {
  .functioning__element:hover i {
    color: #9356dc;
  }
  .functioning__element:hover::after {
    opacity: 1;
  }
}

.functioning__element::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #f2eafb;
  border-radius: 30px;
  opacity: 0;
  z-index: -1;
}

.functioning__element--purple {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: absolute;
  width: 2rem;
  height: 2rem;
  top: 1.5rem;
  left: -1rem;
  color: #ffffff;
  border-radius: 50%;
  background-color: #9356dc;
}

.functioning__element i {
  color: #979595;
  padding-left: 2.5rem;
  font-size: 1.5rem;
}

@media screen and (min-width: 380px) {
  .functioning__element i {
    padding-left: 0;
  }
}

.functioning__element--black {
  font-weight: bold;
  margin-left: 1.5rem;
  color: #000000;
}

.section3 {
  width: 100%;
  background-color: #f7f7f7;
}

@media screen and (min-width: 1280px) {
  .section3 {
    padding-bottom: 4rem;
  }
}

.section3__title {
  padding: 1.5rem;
}

@media screen and (min-width: 1280px) {
  .section3 {
    padding-top: 2rem;
  }
}

.cards {
  margin: 0 1.5rem;
}

@media screen and (min-width: 1280px) {
  .first-group,
  .second-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.card {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 1.5rem;
  border-radius: 1rem;
  -webkit-box-shadow: 2px 3px 8px #d6d6d6;
          box-shadow: 2px 3px 8px #d6d6d6;
}

.card__image img {
  width: 100%;
  height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1rem 1rem 0 0;
}

.card__info {
  color: #278870;
  background-color: #ade8d9;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.3rem 0.8rem;
  border-radius: 0.5rem;
  position: absolute;
  top: 15px;
  right: 25px;
}

@media screen and (min-width: 380px) {
  .card {
    max-width: 570px;
    margin: 2rem auto;
  }
}

@media screen and (min-width: 1280px) {
  .card {
    width: 45%;
    margin: 2rem 1rem;
  }
}

.card-body {
  position: relative;
}

.card-body__title {
  color: #000000;
  padding: 0.8rem 0 0.5rem 1rem;
}

.card-body__city {
  color: #000000;
  padding: 0 0 0.8rem 1rem;
}

.icon-heart {
  position: absolute;
  bottom: 35px;
  right: 30px;
  font-size: 1.5rem;
  color: #000000;
  z-index: 20;
  opacity: 1;
  -webkit-transition: color 250ms ease-in-out;
  transition: color 250ms ease-in-out;
  cursor: pointer;
}

.icon-heart:active {
  color: transparent;
}

.icon-heart:active::after {
  opacity: 1;
}

.icon-heart::after {
  content: "\f004";
  font-family: FontAwesome;
  position: absolute;
  font-size: 1.5rem;
  top: 0;
  right: 0;
  background: -webkit-linear-gradient(#9356dc, #ff79da);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  z-index: -10;
  opacity: 0;
  -webkit-transition: all 1s;
  transition: all 1s;
}

@media screen and (min-width: 1280px) {
  .icon-heart:hover {
    color: transparent;
  }
  .icon-heart:hover::after {
    opacity: 1;
  }
}

footer {
  background-color: #333333;
  color: #ffffff;
}

footer .footer-title {
  font-family: "Shrikhand", sans-serif;
  font-size: 1.2rem;
  padding: 2rem 0 1.5rem 2rem;
}

footer ul {
  margin-left: 2rem;
}

footer li {
  list-style: none;
  padding-bottom: 0.5rem;
}

footer li:last-of-type {
  padding-bottom: 2rem;
}

footer li i {
  margin-right: 0.5rem;
}

footer li .fa-hands-helping {
  font-size: 0.7rem;
}

footer a {
  color: #ffffff;
}

footer a:active {
  text-shadow: 0 0 5px #f71af7;
}

@media screen and (min-width: 1280px) {
  footer a:hover {
    text-shadow: 0 0 5px #f71af7;
  }
}

.explication__button {
  border: 0;
  font-size: 1rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background: linear-gradient(#ff79da, #9356dc);
  padding: 1rem 2.5rem;
  border-radius: 45px;
  -webkit-box-shadow: 2px 3px 8px #666666;
          box-shadow: 2px 3px 8px #666666;
  color: #ffffff;
  position: relative;
  cursor: pointer;
}

.explication__button:active {
  -webkit-box-shadow: 2px 3px 8px #000000;
          box-shadow: 2px 3px 8px #000000;
  background: -webkit-gradient(linear, left top, left bottom, from(#fface8), to(#ae80e5));
  background: linear-gradient(#fface8, #ae80e5);
}

@media screen and (min-width: 1280px) {
  .explication__button:hover {
    -webkit-box-shadow: 2px 3px 8px #000000;
            box-shadow: 2px 3px 8px #000000;
    background: -webkit-gradient(linear, left top, left bottom, from(#fface8), to(#ae80e5));
    background: linear-gradient(#fface8, #ae80e5);
  }
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100vh;
  position: fixed;
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-animation: spinner 3s linear both;
          animation: spinner 3s linear both;
}

@-webkit-keyframes spinner {
  0%,
  85% {
    opacity: 1;
    z-index: 1000;
  }
  100% {
    opacity: 0;
    z-index: -1000;
  }
}

@keyframes spinner {
  0%,
  85% {
    opacity: 1;
    z-index: 1000;
  }
  100% {
    opacity: 0;
    z-index: -1000;
  }
}

.ring {
  position: absolute;
  border-radius: 50%;
}

.ring:nth-child(1) {
  width: 250px;
  height: 250px;
  border-top: 5px solid #9356dc;
  -webkit-animation: rotate-forward 2.8s linear;
          animation: rotate-forward 2.8s linear;
}

.ring:nth-child(2) {
  width: 230px;
  height: 230px;
  border-top: 5px solid #ff79da;
  -webkit-transform: rotate(85deg);
          transform: rotate(85deg);
  -webkit-animation: rotate-backward 2.5s linear;
          animation: rotate-backward 2.5s linear;
}

.ring:nth-child(3) {
  width: 210px;
  height: 210px;
  border-top: 5px solid #99e2d0;
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
  -webkit-animation: rotate-forward 2.2s linear;
          animation: rotate-forward 2.2s linear;
}

@-webkit-keyframes rotate-forward {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate-forward {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes rotate-backward {
  0% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes rotate-backward {
  0% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

.loading__text {
  position: absolute;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  -webkit-animation: text 5s linear;
          animation: text 5s linear;
}

@-webkit-keyframes text {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes text {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header__menu--title {
  width: 100%;
  text-align: center;
  font-family: "Shrikhand", sans-serif;
  font-size: 2.5rem;
}

@media screen and (min-width: 1280px) {
  .header__menu--title {
    font-size: 4rem;
  }
}

.header__menu .fa-arrow-left-long {
  position: absolute;
  top: 1.5rem;
  color: #000000;
  margin-left: 2rem;
}

@media screen and (min-width: 1280px) {
  .header__menu .fa-arrow-left-long {
    top: 2rem;
    font-size: 2rem;
  }
}

.header-img img {
  display: block;
  width: 100%;
  height: 20rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.sectionMenu {
  position: relative;
  margin-top: -4rem;
  width: 100%;
  z-index: 1;
  padding: 1.5rem;
  border-radius: 3rem 3rem 0 0;
  background-color: #f7f7f7;
}

.sectionMenu__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Shrikhand", sans-serif;
}

.sectionMenu__title h2 {
  letter-spacing: 1px;
}

@media screen and (min-width: 1280px) {
  .sectionMenu__title h2 {
    font-size: 2.5rem;
  }
}

.sectionMenu__title .icon-heart {
  width: 24px;
  height: 24px;
  top: 1.8rem;
  right: 2.5rem;
}

@media screen and (min-width: 1280px) {
  .sectionMenu__title .icon-heart {
    top: 2.5rem;
    right: 4rem;
  }
}

.sectionMenu__title .icon-heart:active {
  color: transparent;
}

.sectionMenu__title .icon-heart:active::after {
  opacity: 1;
}

@media screen and (min-width: 1280px) {
  .container-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.menuOne__title {
  margin: 2rem 0;
}

.menuOne h3 {
  text-transform: uppercase;
  font-weight: lighter;
}

.menuOne__important {
  padding-bottom: 0.2rem;
  border-bottom: 4px solid #99e2d0;
}

.menu {
  background-color: #ffffff;
  -webkit-box-shadow: 2px 3px 8px #d6d6d6;
          box-shadow: 2px 3px 8px #d6d6d6;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 1rem;
  margin: 1rem 0;
  overflow: hidden;
  cursor: pointer;
}

.menu__title {
  font-size: 1.1rem;
  padding-bottom: 0.5rem;
}

.menu__header {
  width: 100%;
}

.menu__header, .menu__title, .menu__description {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.menu__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-left: 0.5rem;
  font-weight: bold;
}

.menu__check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #99e2d0;
  margin: -1rem -7rem -1rem 1rem;
  width: 6rem;
  -webkit-transition: margin-right 1s;
  transition: margin-right 1s;
}

.menu:active .menu__check {
  margin-right: -1rem;
}

.menu__effectIcon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 1.6rem;
  width: 1.6rem;
  color: #ffffff;
  -webkit-transition: -webkit-transform 1.5s;
  transition: -webkit-transform 1.5s;
  transition: transform 1.5s;
  transition: transform 1.5s, -webkit-transform 1.5s;
}

.menu__effectIcon .fa-circle-check {
  font-size: 1.5rem;
}

.menu:active .menu__effectIcon {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

@media screen and (min-width: 380px) {
  .menu {
    max-width: 450px;
    margin: 1rem auto;
  }
}

@media screen and (min-width: 1280px) {
  .menu {
    width: 400px;
  }
  .menu:hover .menu__check {
    margin-right: -1rem;
  }
  .menu:hover .menu__effectIcon {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2rem;
}

@media screen and (min-width: 1280px) {
  .button {
    margin-top: 4rem;
  }
}

@-webkit-keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.delay-1 {
  -webkit-animation: appear 0.5s linear;
          animation: appear 0.5s linear;
}

.delay-2 {
  -webkit-animation: appear 1s linear;
          animation: appear 1s linear;
}

.delay-3 {
  -webkit-animation: appear 1.5s linear;
          animation: appear 1.5s linear;
}

.delay-4 {
  -webkit-animation: appear 2s linear;
          animation: appear 2s linear;
}

.delay-5 {
  -webkit-animation: appear 2.5s linear;
          animation: appear 2.5s linear;
}

.delay-6 {
  -webkit-animation: appear 3s linear;
          animation: appear 3s linear;
}

.delay-7 {
  -webkit-animation: appear 3.5s linear;
          animation: appear 3.5s linear;
}

.delay-8 {
  -webkit-animation: appear 4s linear;
          animation: appear 4s linear;
}

.delay-9 {
  -webkit-animation: appear 4.5s linear;
          animation: appear 4.5s linear;
}
/*# sourceMappingURL=style.css.map */