.header-accueil {
  margin-bottom: 0.2rem;
  box-shadow: $box-shadow;
  &__title {
    width: 100%;
    text-align: center;
    font-family: "Shrikhand", sans-serif;
    font-size: 2.5rem;
  }
}

.search {
  @include center(row);
  height: 3.5rem;
  background-color: lighten($bgc, 18%);
  i {
    font-size: 1.5rem;
    margin-right: 0.3rem;
  }
  input {
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
    width: 200px;
    border: transparent;
    background-color: transparent;
  }
}

.section1 {
  @include center(row);
  background-color: lighten($bgc, 23%);
  width: 100%;
  height: 20rem;
  .explication {
    @include center(column);
    &__title {
      margin: 0 2.8rem 1.2rem 2.8rem;
      text-align: center;
      font-size: 1.8rem;
    }
    &__text {
      margin: 0 1rem 2rem 1rem;
      text-align: center;
      font-size: 1.2rem;
    }
  }
}

.section2 {
  margin: 5rem 1.5rem;
  height: auto;
}

.functioning {
  @include tablet {
    margin: 0 auto;
    max-width: 450px;
  }
  &__element {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    height: 5rem;
    margin: 2rem 0;
    border: 0;
    border-radius: $border;
    background-color: lighten($bgc, 23%);
    box-shadow: $box-shadow;
    z-index: 1;
    cursor: pointer;
    @include tablet {
      justify-content: center;
      width: 90%;
      margin: 2rem auto;
    }

    &:active {
      &::after {
        opacity: 1;
      }
      &:active {
        i {
          color: $primary;
        }
      }
    }
    @include desktop {
      &:hover {
        i {
          color: $primary;
        }
        &::after {
          opacity: 1;
        }
      }
    }
    &::after {
      content: "";
      @include absolute;
      background: lighten($primary, 35%);
      border-radius: $border;
      opacity: 0;
      z-index: -1;
    }
    &--purple {
      @include center(row);
      position: absolute;
      width: 2rem;
      height: 2rem;
      top: 1.5rem;
      left: -1rem;
      color: $color1;
      border-radius: 50%;
      background-color: $primary;
    }
    i {
      color: darken($bgc, 15%);
      padding-left: 2.5rem;
      font-size: 1.5rem;
      @include tablet {
        padding-left: 0;
      }
    }
    &--black {
      font-weight: bold;
      margin-left: 1.5rem;
      color: $color2;
    }
  }
}

.section3 {
  width: 100%;
  background-color: lighten($bgc, 23%);
  @include desktop {
    padding-bottom: 4rem;
  }
  &__title {
    padding: 1.5rem;
  }
  @include desktop {
    padding-top: 2rem;
  }
}

.cards {
  margin: 0 1.5rem;
}

.first-group,
.second-group {
  @include desktop {
    @include center(row);
  }
}

.card {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 1.5rem;
  border-radius: 1rem;
  box-shadow: $box-shadow;
  &__image {
    img {
      width: 100%;
      height: 180px;
      object-fit: cover;
      border-radius: 1rem 1rem 0 0;
    }
  }
  &__info {
    color: darken($tertiary, 40%);
    background-color: lighten($tertiary, 5%);
    font-size: 1rem;
    font-weight: bold;
    padding: 0.3rem 0.8rem;
    border-radius: 0.5rem;
    position: absolute;
    top: 15px;
    right: 25px;
  }
  @include tablet {
    max-width: 570px;
    margin: 2rem auto;
  }
  @include desktop {
    width: 45%;
    margin: 2rem 1rem;
  }
}

.card-body {
  position: relative;
  &__title {
    color: $color2;
    padding: 0.8rem 0 0.5rem 1rem;
  }
  &__city {
    color: $color2;
    padding: 0 0 0.8rem 1rem;
  }
}

.icon-heart {
  position: absolute;
  bottom: 35px;
  right: 30px;
  font-size: 1.5rem;
  color: $color2;
  z-index: 20;
  opacity: 1;
  transition: color 250ms ease-in-out;
  cursor: pointer;
  &:active {
    color: transparent;
  }
  &:active::after {
    opacity: 1;
  }
  &::after {
    content: "\f004";
    font-family: FontAwesome;
    position: absolute;
    font-size: 1.5rem;
    top: 0;
    right: 0;
    background: -webkit-linear-gradient($primary, $secondary);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    z-index: -10;
    opacity: 0;
    transition: all 1s;
  }
  @include desktop {
    &:hover {
      color: transparent;
      &::after {
        opacity: 1;
      }
    }
  }
}

footer {
  background-color: lighten($color2, 20%);
  color: $color1;
  .footer-title {
    font-family: "Shrikhand", sans-serif;
    font-size: 1.2rem;
    padding: 2rem 0 1.5rem 2rem;
  }
  ul {
    margin-left: 2rem;
  }
  li {
    list-style: none;
    padding-bottom: 0.5rem;
    &:last-of-type {
      padding-bottom: 2rem;
    }
    i {
      margin-right: 0.5rem;
    }
    .fa-hands-helping {
      font-size: 0.7rem;
    }
  }
  a {
    color: $color1;
    &:active {
      text-shadow: 0 0 5px rgb(247, 26, 247);
    }
    @include desktop {
      &:hover {
        text-shadow: 0 0 5px rgb(247, 26, 247);
      }
    }
  }
}
