.explication__button {
  border: 0;
  font-size: 1rem;
  background: linear-gradient($secondary, $primary);
  padding: 1rem 2.5rem;
  border-radius: 45px;
  box-shadow: $lightbtn;
  color: $color1;
  position: relative;
  cursor: pointer;
  &:active {
    box-shadow: $darkbtn;
    background: linear-gradient(
      lighten($secondary, 10%),
      lighten($primary, 10%)
    );
  }
  @include desktop {
    &:hover {
      box-shadow: $darkbtn;
      background: linear-gradient(
        lighten($secondary, 10%),
        lighten($primary, 10%)
      );
    }
  }
}
