.container {
  @include center(column);
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: rgba($color1, 0.9);
  animation: spinner 3s linear both;
}

@keyframes spinner {
  0%,
  85% {
    opacity: 1;
    z-index: 1000;
  }
  100% {
    opacity: 0;
    z-index: -1000;
  }
}

.ring {
  position: absolute;
  border-radius: 50%;
}

.ring:nth-child(1) {
  width: 250px;
  height: 250px;
  border-top: 5px solid $primary;
  animation: rotate-forward 2.8s linear;
}
.ring:nth-child(2) {
  width: 230px;
  height: 230px;
  border-top: 5px solid $secondary;
  animation: rotate-backward 2.5s linear;
}
.ring:nth-child(3) {
  width: 210px;
  height: 210px;
  border-top: 5px solid $tertiary;
  animation: rotate-forward 2.2s linear;
}

@keyframes rotate-forward {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate-backward {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.loading__text {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  animation: text 5s linear;
}

@keyframes text {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
