*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
}

a {
  text-decoration: none;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.2rem;
}
