//----------HEADER----------//
header {
  display: flex;
  align-items: center;
  position: relative;
  height: 4rem;
  .fa-arrow-left-long {
    position: absolute;
    top: 1.5rem;
    color: $color2;
    margin-left: 2rem;
  }
  .header-title {
    font-family: "Shrikhand", sans-serif;
    font-size: 2rem;
  }
}

//----------IMAGE----------//
.header-img {
  img {
    display: block;
    width: 100%;
    height: 20rem;
    object-fit: cover;
  }
}

//-----------MENU----------//
.section__menu {
  position: relative;
  margin-top: -4rem;
  width: 100%;
  z-index: 1;
  padding: 1.5rem;
  border-radius: 3rem 3rem 0 0;
  background-color: #f6f6f6;
  &--title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: "Shrikhand", sans-serif;

    h2 {
      margin-right: 3rem;
      letter-spacing: 0.8px;
    }
    .icon-heart {
      width: 24px;
      height: 24px;
      top: 2.3rem;
      right: 3rem;
    }
  }
}

.card__menu1 {
  &--title {
    margin: 2rem 0;
  }
  h3 {
    text-transform: uppercase;
    font-weight: lighter;
  }
  &--important {
    padding-bottom: 0.2rem;
    border-bottom: 4px solid $tertiary;
  }
}

.menu__body {
  cursor: pointer;
  &--title {
    position: relative;
    margin-bottom: 1rem;
    background-color: $color1;
    border-radius: 1.2rem;
    overflow: hidden;
    &:hover span {
      transform: translateX(-4rem);
    }
    &:hover .check {
      transform: translateX(-4rem);
    }
    &:hover i {
      transform: rotate(360deg);
    }
  }
  h4 {
    padding: 0.8rem 0.8rem 0.2rem 0.8rem;
  }
  &--subtitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.8rem 0.8rem 0.8rem;
    p {
      font-size: 1rem;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
  &--price {
    margin-left: 1rem;
    font-size: 1rem;
    font-weight: bold;
    transition: transform 0.5s;
  }
}

.check {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $tertiary;
  border-radius: 0 1.2rem 1.2rem 0;
  width: 4rem;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  margin: 0 -4rem;
  transition: transform 0.5s;
  .fa-circle-check {
    color: $color1;
    transition: transform 0.5s;
  }
}

.menu__body1 {
  animation: apparition 2s;
}
.menu__body2 {
  animation: apparition 4s;
}
.menu__body3 {
  animation: apparition 6s;
}

@keyframes apparition {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.button {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}
