//----------HEADER----------//
.header__menu {
  display: flex;
  align-items: center;
  position: relative;
  &--title {
    width: 100%;
    text-align: center;
    font-family: "Shrikhand", sans-serif;
    font-size: 2.5rem;
    @include desktop {
      font-size: 4rem;
    }
  }
  .fa-arrow-left-long {
    position: absolute;
    top: 1.5rem;
    color: $color2;
    margin-left: 2rem;
    @include desktop {
      top: 2rem;
      font-size: 2rem;
    }
  }
}

//----------IMAGE----------//
.header-img {
  img {
    display: block;
    width: 100%;
    height: 20rem;
    object-fit: cover;
  }
}

//-----------MENU----------//
.sectionMenu {
  position: relative;
  margin-top: -4rem;
  width: 100%;
  z-index: 1;
  padding: 1.5rem;
  border-radius: 3rem 3rem 0 0;
  background-color: lighten($bgc, 23%);
  &__title {
    display: flex;
    align-items: center;
    font-family: "Shrikhand", sans-serif;
    h2 {
      letter-spacing: 1px;
      @include desktop {
        font-size: 2.5rem;
      }
    }
    .icon-heart {
      width: 24px;
      height: 24px;
      top: 1.8rem;
      right: 2.5rem;
      @include desktop {
        top: 2.5rem;
        right: 4rem;
      }
      &:active {
        color: transparent;
      }
      &:active::after {
        opacity: 1;
      }
    }
  }
}

.container-menu {
  @include desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

.menuOne {
  &__title {
    margin: 2rem 0;
  }
  h3 {
    text-transform: uppercase;
    font-weight: lighter;
  }
  &__important {
    padding-bottom: 0.2rem;
    border-bottom: 4px solid $tertiary;
  }
}

.menu {
  background-color: $color1;
  box-shadow: $box-shadow;
  padding: 1rem;
  display: flex;
  border-radius: 1rem;
  margin: 1rem 0;
  overflow: hidden;
  cursor: pointer;
  &__title {
    font-size: 1.1rem;
    padding-bottom: 0.5rem;
  }
  &__header {
    width: 100%;
  }
  &__header,
  &__title,
  &__description {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  &__price {
    @include flex-end(row);
    padding-left: 0.5rem;
    font-weight: bold;
  }
  &__check {
    @include center(row);
    background-color: $tertiary;
    margin: -1rem -7rem -1rem 1rem;
    width: 6rem;
    transition: margin-right 1s;
  }
  &:active .menu__check {
    margin-right: -1rem;
  }
  &__effectIcon {
    @include center(row);
    height: 1.6rem;
    width: 1.6rem;
    color: $color1;
    transition: transform 1.5s;
    .fa-circle-check {
      font-size: 1.5rem;
    }
  }
  &:active .menu__effectIcon {
    transform: rotate(360deg);
  }
  @include tablet {
    max-width: 450px;
    margin: 1rem auto;
  }
  @include desktop {
    width: 400px;
    &:hover .menu__check {
      margin-right: -1rem;
    }
    &:hover .menu__effectIcon {
      transform: rotate(360deg);
    }
  }
}

.button {
  display: flex;
  justify-content: center;
  margin: 2rem;
  @include desktop {
    margin-top: 4rem;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@for $i from 1 to 10 {
  .delay-#{$i} {
    animation: appear #{$i * 0.5}s linear;
  }
}
